.ficha {
    width: var(--layout-width);
    margin: 30px auto 14px;
    color: var(--fullblack);  
    font-size: 15px;
}
.ficha span {
    line-height: 1.2;
}
.ficha__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
}
.ficha__header-col-de-emblema {
    flex-direction: column;
    padding: 20px 0;
}
.ficha__emblema {
    margin: auto;
    width: 55px;
    height: 55px;
}
.ficha__box-descricao-de-emblema span {
    display: block;
    text-align: center;
    line-height: 1.4;
    font-weight: 700;
}
.ficha__header__col-de-pnct {
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 23px;
}
.ficha__header__col-de-pnct h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
}
.ficha__moldura-de-logo-de-pnct {
    margin-top: 7px;
    width: 140px;
    height: 55px;
}
.ficha__header__col-de-localizacao {
    display: grid;
    grid-template-rows: 25px repeat(4, 1fr);
}
.ficha__col-de-localizacao__linha {
    padding: 0 10px 0 4px;
}
.ficha__col-de-localizacao__linha--border-t {
    border-top: 1px solid var(--cor-de-borda);
    padding-top: 2px;
    margin-top: 10px;
}
.ficha__col-de-localizacao__linha input {
    flex: 1;
}
.ficha__header__col-de-titulo {
    grid-column: 1/4;
    padding: 5px 0;
    background-color: var(--fullblack);
    color: var(--yt);
}
.ficha__titulo {
    text-transform: uppercase;
    text-align: center;
}
.ficha__seccao__titulo {
    text-align: center;
    padding: 8px 0;
    text-transform: uppercase;
    background-color: var(--fullblack);
    color: var(--yt);
}
.ficha__seccao__titulo--margin-top {
    margin-top: 8px;
}
.ficha__seccao-1__header {
    display: grid;
    grid-template-columns: 305px 1fr;
    grid-template-areas: ". col-2";
}
.seccao-1__header__col-2 {
    grid-area: col-2;
    display: grid;
    grid-template-rows: 42px 21px 320px;
}
.seccao-1__header__linha-com-titulo-rastreio-e-seguimento {
    display: grid;
    grid-template-columns: 65px calc(65px * 7)  calc(81.5px * 2);
    grid-template-areas: ". rastreio seguimento";
}
.seccao-1__linha-com-titulo-rastreio-e-seguimento__col-rastreio {
    grid-area: rastreio;
}
.seccao-1__linha-com-titulo-rastreio-e-seguimento__col-seguimento {
    grid-area: seguimento;
    text-align: center;
}
.--border-l-double {
    border-left: 4px double var(--cor-de-borda);
}
.--border-l-gray-thicker {
    border-left: 8px solid var(--gray);
}
.--border-t-gray-thicker {
    border-top: 8px solid var(--gray);
}
.seccao-1__header__linha-com-numeros-das-colunas,
.seccao-1__header__linha-de-indicadores {
    display: grid;
    grid-template-columns: repeat(8, 65px) repeat(2, 81.5px);
}
.seccao-1__header__indicador {
    display: block;
    transform: rotate(-90deg) translate(-266px, 0);
    white-space: nowrap;
    transition-duration: .4s;
}
.seccao-1__header__indicador--1 {
    transform: rotate(-90deg) translate(-275px, 0);
}
.seccao-1__header__indicador--2 {
    transform: rotate(-90deg) translate(-277px, 0);
}
.seccao-1__header__indicador--10 {
    transform: rotate(-90deg) translate(-251px, 0);
}
.seccao-1__header__indicador--11 {
    transform: rotate(-90deg) translate(-249px, 0);
}
@media screen and (min-width: 1024px) {
    .seccao-1__header__linha-de-indicadores > div:hover span {
        transform: rotate(0deg);
        box-shadow: 0 0 15px var(--gray--d);
        border-radius: 5px;
        background-color: var(--yt);
        padding: 5px;
        position: absolute;
        z-index: 20;
    }
}
.grid-template-cols-11 {
    display: grid;
    grid-template-columns: 305px 65.5px repeat(7, 65px) repeat(2, 81.5px);
    grid-template-rows: 65px;
}
.grid-template-cols-11 span {
    padding-left: 4px;
}
.ficha__rodape__nota {
    padding: 4px;
    font-size: 13.5px;
}
.ficha__rodape__linha-de-nome-e-categoria {
    display: grid;
    grid-template-columns: calc(305px + 58px + 65px *  5) 1fr;
    margin: 50px 0 25px;
    padding-left: 4px;
    min-height: 21px;
}
.ficha__rodape__campo-de-nome {
    width: 400px;
}
.ficha__rodape__campo-de-categoria {
    width: 212px;
}
.ficha__rodape__col-de-data {
    padding-left: 4px;
    padding-bottom: 15px;
}
[data-total]:focus,
.input-nao-celular:focus,
.input-celular--focus:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco);
    color: var(--yt)
}
.input--font-small {
    font-size: 14px
}
/* CLASSES REUTILIZÁVEIS */
.celula-nao-aplicavel {
    background-color: var(--gray--a);
}
.--cor-de-fundo-padrao {
    background-color: var(--gray--c);
}
.--cor-de-fundo-padrao--discreta {
    background-color: var(--gray--d);
}